html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h1 img {
  width: 100%;
}

main img {
  width: 100%
}

h2, h3, h4 {
  color: #5d8432;
  font-family: "Patua One";
  text-transform: uppercase;
}

main h3 {
  font-size: 1.5rem;
}

main h4 {
  font-size: 1.5rem;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Patua One";
}

a:link {
  color: #793284;
}

a:hover {
  color: #b42885;
}

img {
  text-align: center;
}
