html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h1, h2, h3 {
  color: #5d8432;
  font-family: 'Patua One';
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
}

a:link {
  color: #793284;
}

a:hover {
  color: #b42885;
}
